@import "../../general/variables";
@import "../../general/utilidades";

body {
  background-image: url("../img/fondo-1.png");
  /* Para dejar la imagen de fondo centrada, vertical y
horizontalmente */
  background-position: center center;
  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  /* Se muestra un color de fondo mientras se está cargando la imagen
de fondo o si hay problemas para cargarla */
  background-color: #fff;
  font-family: $main-font;
}
a {
  text-decoration: none;
}
.tarjeta {
  margin: 5% auto;
  max-width: 425px;
  height: auto;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #8fd8fd 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  border: 1px solid #d2c0c0;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  @media (max-width: 1024px) {
    margin: 20% auto;
  }
}
.cont-img-logo {
  margin: 0 auto;
  text-align: center;
  .img-logo {
    max-width: 175px;
  }
}
.cont-login {
  text-align: center;
}
.cont-formulario {
  width: 65%;
  margin: 0 auto;
  @media (max-width: 1024px) {
    width: 75%;
  }
}

