@import "../../general/utilidades";

.cont-agregar-medicamento {
  border: 3px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 25px auto 25px auto;
  padding: 25px;
  max-width: 65%;
  @media (max-width: 1090px) {
    max-width: 90%;
  }
}
.btn-crear{
    max-width: 20%;
    @media (max-width: 1090px) {
        max-width: 40%;
    }
}
.input-medi{
    background: #F6F6F6;
}

/* Pasar a utilidades */
.title-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  color: #333333;
  @media (max-width: 1090px) {
    font-size: 20px;
    }
}

.c-gray{
    color: #BDBDBD; 
}
