* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.barra-container {
  position: relative;
  margin-bottom: 0;
}

@media (max-width: 1269px) {
  .barra-container {
    margin-bottom: 10px;
  }
}

.barra-container .btn-buscar {
  position: absolute;
  top: 0;
  left: 3%;
  height: 100%;
  padding: 0;
  display: block;
  text-indent: -9999px;
  width: 20px;
  background-image: url(../img/buscar-vale.svg);
  background-position: right center;
  background-repeat: no-repeat;
  border: none;
  background-color: #f7f9fa;
  border-radius: 10px;
  border-style: none;
}

@media (max-width: 1269px) {
  .barra-container .btn-buscar {
    left: 7%;
    height: 100%;
  }
}

@media (max-width: 530px) {
  .barra-container .btn-buscar {
    left: 11%;
  }
}

.barra-container .btn-buscar:hover {
  cursor: pointer;
}

.barra-container .btn-buscar:focus {
  outline: none;
}

.barra-container .barra-buscar {
  width: 531px;
  height: 38px;
  background: #f7f9fa;
  border-radius: 10px;
  border-style: none;
  padding-left: 52px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;
}

.barra-container .barra-buscar:focus {
  outline: none;
}

@media (max-width: 1269px) {
  .barra-container .barra-buscar {
    width: 100%;
    margin: 0;
  }
}

.select-vale-dashboard {
  width: auto;
  height: 38px;
  background: #f7f9fa;
  border-radius: 10px;
  border: none;
  padding-left: 13px;
  padding-right: 5px;
  color: #6a7681;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-right: 10px;
}

.select-vale-dashboard:hover {
  cursor: pointer;
}

.select-vale-dashboard:focus {
  outline: none;
}

@media (max-width: 1269px) {
  .select-vale-dashboard {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=arriba.css.map */