@import "../../general/utilidades";
.cont-medicamento {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #eaf8ff;
  border-radius: 10px;
  max-width: 230px;
  height: 300px;
  cursor: pointer;
  font-family: $main-font;
  .titulo-medicamento{
    font-weight: bold;
    font-size: 22px;
  }
  .descrip-medicamento{
    font-weight: bold;
    font-size: 14px;
    color: #4F4F4F;
  }
}
