@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $main-font;
}
/* Utilidades */
.title-1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}
.input-1 {
  // width: 100%;
  font-family: $main-font;
  margin: 17px 0 10px 0;
  padding: 5px 15px;
  background: #fdf9f9;
  border: 1px solid #d2c0c0;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}
.btn-principal {
  background: $main-color;
  border: 1px solid $main-color;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  color: white;
  padding: 8px 15px;
  transition: all 0.5s;
  margin-top: 10px;
  &:hover {
    color: $main-color;
    background-color: white;
  }
}
.cont-text-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.link-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #918B8B;
  text-align: center;
  transition: all 0.5s;
  &:hover {
    color: $main-color;
  }
  @media (max-width: 1024px) {
    font-size: 15px;
  }
}
.subtitle-1{
  text-align: center;
    width: 60%;
    margin: 20px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 12px;
    }
}
.padding-btn{
  padding: 5px 35px;
}
/* Inputs */
input[type=date], select{
  color: #D2C0C0;
}
/* Errores en formularios */
.error-input{
  color: red;
  font-size: 14px;
}
/* Placeholders */
::-webkit-input-placeholder { color: #D2C0C0; } 
:-moz-placeholder { /* Firefox 18- */ color: #D2C0C0; } 
::-moz-placeholder { /* Firefox 19+ */ color: #D2C0C0; } 
:-ms-input-placeholder { color: #D2C0C0; }