* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Utilidades */
.title-1 {
  font-family: "Poppins", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.input-1 {
  font-family: "Poppins", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 17px 0 10px 0;
  padding: 5px 15px;
  background: #fdf9f9;
  border: 1px solid #d2c0c0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  font-size: 14px;
}

.input-1:focus {
  outline: none;
}

.btn-principal {
  background: #2A96F0;
  border: 1px solid #2A96F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  color: white;
  padding: 8px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 10px;
}

.btn-principal:hover {
  color: #2A96F0;
  background-color: white;
}

.cont-text-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.link-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #918B8B;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.link-1:hover {
  color: #2A96F0;
}

@media (max-width: 1024px) {
  .link-1 {
    font-size: 15px;
  }
}

.subtitle-1 {
  text-align: center;
  width: 60%;
  margin: 20px auto 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 1024px) {
  .subtitle-1 {
    font-size: 12px;
  }
}

.padding-btn {
  padding: 5px 35px;
}

/* Inputs */
input[type=date], select {
  color: #D2C0C0;
}

/* Errores en formularios */
.error-input {
  color: red;
  font-size: 14px;
}

/* Placeholders */
::-webkit-input-placeholder {
  color: #D2C0C0;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #D2C0C0;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #D2C0C0;
}

:-ms-input-placeholder {
  color: #D2C0C0;
}
/*# sourceMappingURL=utilidades.css.map */