/*Barra de busqueda*/
/*fin de barra de busqueda*/
/*barra 1*/
/*fin de la barra*/
/*Bandeja de info*/
/*fin de bandeja*/
/*queries de barra de busqueda*/
/*fin de queries*/
/*queries de bandeja*/
/*fin de queries*/
body {
  background-color: #FFFFFF;
}

.flexsearch--wrapper {
  height: auto;
  width: auto;
  margin-left: 45%;
  max-width: 50%;
  margin-top: -4%;
  overflow: hidden;
  background: transparent;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 30px;
  padding: 0 46px 0 10px;
  border-color: #F7F9FA;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  margin-top: 15px;
  color: #000000;
  background: #F7F9FA;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #EDEDED;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch {
  padding: 0 25px 0 200px;
}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: -35%;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  background: transparent;
  color: #ABABAB;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888;
}

.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

/*.bar1 {
	img {
		width: 2.7%;
		height: 1%;
		margin-left: 4%;
	}
	a {
		position: absolute;
		text-align: center;
		color: #4F4F4F;
		margin-left: 2.5%;
		margin-top: 0.4%;
		font-size: 1.3rem;
		font-family: 'Poppins', sans-serif;
	}
}*/
.container {
  border: solid 2.5px #C4C4C4;
  border-radius: 12px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.bandeja-info {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  background-color: #F7F9FA;
  border: solid 1px #C5C5C5;
  color: #000000;
  font-family: 'Poppins';
  border-radius: 12px;
  width: 100%;
  padding: 0.3 35px 0.3 35px;
}

.bandeja-info2 {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 7%;
  padding-top: 10px;
  margin: 5px;
  background-color: #F7F9FA;
  border: solid 1px #C5C5C5;
  color: #000000;
  font-family: 'Poppins';
  border-radius: 12px;
  width: 100%;
}

@media (max-width: 420px) {
  .bandeja-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h2 {
  font-family: 'Inter';
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 2%;
  margin-left: 3%;
}

.flex-submit2 {
  margin-left: 97%;
  margin-top: -4.2%;
  position: absolute;
  display: block;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #ABABAB;
  overflow: hidden;
  position: static;
}

#peticion {
  border-radius: 15px;
  margin-left: 33%;
  /* margin: 100px; */
  background: rgba(255, 255, 255, 0.59);
  width: 50%;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
  font-family: 'Inter';
}

#peticion:focus {
  outline: none;
}

@media (max-width: 420px) {
  #peticion {
    margin: 5%;
    width: 85%;
  }
}

img.izquierda {
  float: left;
  margin: 0 5% 0 2%;
  /* width: 25%; */
  /* height: 25%; */
  max-width: 350px;
}

@media (max-width: 420px) {
  img.izquierda {
    margin: 5%;
  }
}

.titlo-n-med {
  font-family: 'Inter', 'Courier New', Courier, monospace;
  color: #000000;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  margin: 10px 0 3% 3%;
}

@media (max-width: 420px) {
  .titlo-n-med {
    text-align: center;
  }
}

.boton1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  text-decoration: none;
  padding: 3.5px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  background-color: #2A96F0;
  border-radius: 30px;
  margin-bottom: 5%;
}

.boton_1:hover {
  opacity: 0.6;
  text-decoration: none;
}

/* @media screen and (max-width: 768px) {
	.bar1 {
		img {
			width: 2rem;
		}
		a {
			font-size: 1.1rem;
			margin-top: 1%;
		}
	}
	.flexsearch {
		margin-top: -10%;
	}
	.container {
		display: block;
		text-align: justify-all;
		h1 {
			font-size: 1.3rem;
			text-align: center;
		}
	}
	.bandeja-info {
		h2 {
			font-size: 0.7rem;
		}
		display: block;
		padding: 0 35px 0 35px;
		width: 80%;
	}
	.flex-submit2 {
		margin-top: -8.5%;
	}
	#peticion {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		margin-top: 5%;
	}
	.bandeja-info2 {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}
	}
}
@media screen and (min-width: 600px) and (max-width: 768px) {
	.bandeja-info {
		h2 {
			font-size: 0.5rem;
		}
		display: block;
		padding: 2%;
		width: 80%;
	}
	.flex-submit2 {
		margin-top: -8.5%;
	}
}*/
/*# sourceMappingURL=solicitud.css.map */