@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins&family=Raleway:wght@600&display=swap");

body {
  background-color: #ffffff;
}

/*Barra de busqueda*/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  margin-left: 45%;
  max-width: 50%;
  margin-top: -4%;
  overflow: hidden;
  background: transparent;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0 25px 0 200px;
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 30px;
  padding: 0 46px 0 10px;
  border-color: #f7f9fa;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  margin-top: 15px;
  color: #000000;
  background: #f7f9fa;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: -35%;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
  background: transparent;
  color: #ababab;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #ededed;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}

.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

/*fin de barra de busqueda*/

/*barra 1*/

.bar1 img {
  width: 2.7%;
  height: 1%;
  margin-left: 4%;
}

.bar1 a {
  position: absolute;
  text-align: center;
  color: #4f4f4f;
  margin-left: 2.5%;
  margin-top: 0.4%;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}

/*fin de la barra*/

/*Bandeja de entrada*/

.container-s {
  border: solid 2.5px #c4c4c4;
  border-radius: 12px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title-d {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #333333;
}
@media screen and (max-width: 768px) {
  .title-d {
    font-size: 17px;
  }
}
.bandeja {
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  background-color: #f7f9fa;
  border: solid 1px #c5c5c5;
  color: #000000;
  font-family: "Raleway";
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
}
.bandeja:hover {
    background-color: #E6ECF2;
  }
.bandeja {
  width: 100%;
}

.bandeja {
  padding: 0.3 35px 0.3 35px;
}

h2 {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 2%;
  margin-left: 2%;
}

.flex-submit2 {
  margin-left: 97%;
  margin-top: -4.2%;
  position: absolute;
  display: block;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #ababab;
  overflow: hidden;
  position: static;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
    .flex-submit2  {
        width: 13%;
    }
}
/*fin de bandeja*/

/*queries de barra de busqueda*/

@media screen and (max-width: 768px) {
  .bar1 img {
    width: 2rem;
  }

  .bar1 a {
    font-size: 1.1rem;
    margin-top: 1%;
  }

  .flexsearch {
    margin-top: -10%;
  }
}

/*fin de queries*/

/*queries de bandeja*/

@media screen and (max-width: 768px) {
  .container {
    display: block;
    text-align: justify-all;
  }

  .container h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  .bandeja h2 {
    font-size: 0.7rem;
  }

  .bandeja {
    display: block;
    padding: 0 35px 0 35px;
    /* width: 80%; */
  }

  .flex-submit2 {
    margin-top: -8.5%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .bandeja h2 {
    font-size: 0.5rem;
  }

  .bandeja {
    display: block;
    padding: 2%;
    width: 80%;
  }

  .flex-submit2 {
    margin-top: -8.5%;
  }
}

/*fin de queries*/
