@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins&family=Raleway:wght@600&display=swap');

.body {
    background-color: #FFFFFF;
    font-family: 'Poppins';
}

/*Barra de busqueda*/
.flexsearch--wrapper {
    height: auto;
    width: auto;
    margin-left: 45%;
    max-width: 50%;
    margin-top: -4%;
    overflow: hidden;
    background: transparent;
    position: static;

}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    padding: 0 66px 0 0;
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}

.flexsearch {
    padding: 0 25px 0 200px;
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 0 46px 0 10px;
    border-color: #F7F9FA;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;
    color: #000000;
    background: #F7F9FA;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: -35%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 20px;
    /* margin-top + border-width */
    margin-right: 5px;
    /* border-width */
    background: transparent;
    color: #ABABAB;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #EDEDED;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333;
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888
}

.h1 {
    margin: 25px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

/*fin de barra de busqueda*/


/*barra 1*/

.bar1 img {
    width: 2.7%;
    height: 1%;
    margin-left: 4%;
}

.bar1 a {
    position: absolute;
    text-align: center;
    color: #4F4F4F;
    margin-left: 2.5%;
    margin-top: 0.4%;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}

/*fin de la barra*/

/*Bandeja de entrada*/

.container {
    border: solid 2.5px #C4C4C4;
    border-radius: 12px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90%;
}

.container img {
    max-width: 50%;
    display: block;
    margin: auto;
    margin-top: 2%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.bandeja {
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
    background-color: #F7F9FA;
    border: solid 1px #C5C5C5;
    color: #000000;
    font-family: 'Raleway';
    border-radius: 12px;
}

.bandeja {
    width: 100%;
}

.bandeja {
    padding: 0.3 35px 0.3 35px;
}

h2 {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2%;
    color: #6A7681;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container p {
    font-family: 'Poppins';
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.right {
    text-align: right;
}

.btn-primary {
    background: #2A96F0;
    border: 1px solid #2A96F0;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom: 3%;
}

.flex-submit2 {
    margin-left: 97%;
    margin-top: -4.2%;
    position: absolute;
    display: block;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #ABABAB;
    overflow: hidden;
    position: static;
}

/*fin de bandeja*/

/*queries de barra de busqueda*/

@media screen and (max-width: 768px) {
    .bar1 img {
        width: 2rem;
    }

    .bar1 a {
        font-size: 1.1rem;
        margin-top: 1%;
    }

    .flexsearch {
        margin-top: -10%;
    }
}

/*fin de queries*/

/*queries de bandeja*/

@media screen and (max-width: 768px) {
    .container {
        display: block;
        text-align: justify-all;
    }

    .container h1 {
        font-size: 1.3rem;
        text-align: center;
        
    }

    .bandeja h2 {
        font-size: 0.7rem;
    }

    .bandeja {
        display: block;
        padding: 0 35px 0 35px;
        width: 80%;
    }

    .flex-submit2 {
        margin-top: -8.5%;
    }

.btn-primary{
    margin-top: 2%;
    margin-bottom: 5%;
}

    .right {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .bandeja h2 {
        font-size: 0.5rem;
    }

    .bandeja {
        display: block;
        padding: 2%;
        width: 80%;
    }

    .flex-submit2 {
        margin-top: -8.5%;
    }

    .right {
        text-align: center;
    }
}

/*fin de queries*/