body {
  font-family: 'Lato', 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #003955;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 13px;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 0px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  /*img {
		float: none;
		max-width: 155px;
		display: block;
		padding: 0;
		@media (max-width: 1090px) {
			font-size: 35px;
		}
	}*/
}

.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 30px;
  font-size: 14px;
  height: auto;
  text-decoration: none;
  color: #828282;
}

@media (max-width: 1090px) {
  .nav a {
    font-size: 35px;
    padding: 29px 30px;
  }
}

.nav a:hover {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav .close {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 50px;
  font-size: 30px;
}

@media (max-width: 1090px) {
  .nav .close {
    font-size: 66px;
  }
}

.slide a {
  color: #000;
  font-size: 30px;
}

@media (max-width: 1090px) {
  .slide a {
    font-size: 70px;
    padding-left: 20px;
  }
}

#content {
  padding: 20px;
  -webkit-transition: margin-left 0.7s;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
}

.boton {
  background: #FDF9F9;
  border: 1px solid #D2C0C0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  margin: 15px 10px;
  height: 9%;
  width: 90%;
}

@media (max-width: 1090px) {
  .boton {
    margin: 48px 35px;
    height: 6%;
    width: 90%;
  }
}

.dropdown-btn {
  padding: 20px 30px;
  text-decoration: none;
  font-size: 13px !important;
  color: black;
  display: block;
  cursor: pointer;
  background: #FDF9F9;
  border: 1px solid #D2C0C0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  margin: 5%;
}

.dropdown-btn:hover {
  color: #5c5b5b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1090px) {
  .dropdown-btn {
    font-size: 35px !important;
  }
}

.dropdown-container {
  max-height: 200px;
  background-color: white;
  padding-left: 0px;
  background: #FDF9F9;
  border: 1px solid #D2C0C0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1% 5%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.dropdown-container::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.dropdown-container::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .dropdown-container::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

@media (max-width: 1090px) {
  .dropdown-container {
    max-height: 500px;
    border-radius: 30px;
  }
}

.active {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #5c5b5b;
}

.active img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-caret-down {
  float: left;
  padding-right: 10px;
  font-size: 25px;
}

.fa-user {
  float: left;
  padding-right: 10px;
  font-size: 25px;
}

.fa-plus {
  float: left;
  padding-right: 10px;
  font-size: 25px;
}

.fa-times {
  color: white;
}

.barra-inactive {
  width: 0;
  margin-left: 0;
}

.barra-active {
  width: 24%;
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.barra-active::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.barra-active::-webkit-scrollbar-thumb {
  background: #004060;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .barra-active::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

@media only screen and (max-width: 720px) {
  .nav {
    /*img {
			height: 80px;
			float: none;
			width: auto;
			display: block;
			margin: auto;
			padding: 0;
		}*/
  }
  .nav a {
    font-size: 10px;
    text-align: center;
  }
  .nav .close {
    font-size: 18px;
  }
  .fa-caret-down {
    display: none;
  }
  .fa-user {
    display: none;
  }
  .fa-plus {
    display: none;
  }
  .slide a {
    font-size: 20px;
  }
}

/*@media only screen and (max-width: 1090px) and (min-width: 720px) {
	.nav {
		img {
			height: 140px;
		}
	}
}*/
@media only screen and (max-width: 1090px) {
  .barra-active {
    width: 75%;
  }
}

.img-medifree {
  max-width: 145px;
}

@media (max-width: 1090px) {
  .img-medifree {
    max-width: 290px;
  }
}

.img-barra {
  width: 25px;
}

@media (max-width: 1090px) {
  .img-barra {
    height: 65px;
    width: auto;
  }
}

.img-flecha {
  width: auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (max-width: 1090px) {
  .img-flecha {
    width: 50px;
  }
}

.burger-btn {
  width: auto;
}

@media (max-width: 1090px) {
  .burger-btn {
    font-size: 60px;
  }
}
/*# sourceMappingURL=barra.css.map */