body {
	font-family: 'Lato', 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #003955;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-top-right-radius: 13px;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 0px;
	transition: 0.7s;
	a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 10px 30px;
		font-size: 14px;
		height: auto;
		text-decoration: none;
		color: #828282;
		@media (max-width: 1090px) {
			font-size: 35px;
			padding: 29px 30px;
		}
		&:hover {
			color: black;
			transition: 0.4s;
		}
		
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		margin-left: 50px;
		font-size: 30px;
		@media (max-width: 1090px) {
			font-size: 66px;
		}
	}
	/*img {
		float: none;
		max-width: 155px;
		display: block;
		padding: 0;
		@media (max-width: 1090px) {
			font-size: 35px;
		}
	}*/
}
.slide {
	a {
		color: #000;
		font-size: 30px;
		@media (max-width: 1090px) {
			font-size: 70px;
			padding-left: 20px;
		}
	}
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.boton {
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 47px;
	margin: 15px 10px;
	height: 9%;
	width: 90%;
	@media (max-width: 1090px) {
		margin: 48px 35px;
		height: 6%;
		width: 90%;
	}

}
.dropdown-btn {
	padding: 20px 30px;
	text-decoration: none;
	font-size: 13px !important;
	color: black;
	display: block;
	cursor: pointer;
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 47px;
	margin: 5%;
	&:hover {
		color: rgb(92, 91, 91);
		transition: 0.4s;
	}
	@media (max-width: 1090px) {
		font-size: 35px !important;
	}
}
.dropdown-container {
	// display: none;
	max-height: 200px;
	background-color: white;
	padding-left: 0px;
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 1% 5%;
	overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 10px;
          height: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background: #e5e5e5;
          border-radius: 10px;
          @media (max-width: 425px) {
            background: transparent;
          }
        }
		@media (max-width: 1090px) {
			max-height: 500px;
			border-radius: 30px;
		}
}
.active {
	transition: all 0.5s ease-out;
	color: rgb(92, 91, 91);
	img{
		transition: 0.8s;
		transform: rotate(180deg);
	}
}
.fa-caret-down {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-user {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-plus {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-times {
	color: white;
}
.barra-inactive {
	width: 0;
	margin-left: 0;
}
.barra-active {
	width: 24%;
	position: fixed;
	top: 0;
	height: 100%;
	overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 10px;
          height: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background: #004060;
          border-radius: 10px;
          @media (max-width: 425px) {
            background: transparent;
          }
        }
}
@media only screen and (max-width: 720px) {
	.nav {
		/*img {
			height: 80px;
			float: none;
			width: auto;
			display: block;
			margin: auto;
			padding: 0;
		}*/
		a {
			font-size: 10px;
			text-align: center;
		}
		.close {
			font-size: 18px;
		}
	}
	.fa-caret-down {
		display: none;
	}
	.fa-user {
		display: none;
	}
	.fa-plus {
		display: none;
	}
	.slide {
		a {
			font-size: 20px;
		}
	}
}
/*@media only screen and (max-width: 1090px) and (min-width: 720px) {
	.nav {
		img {
			height: 140px;
		}
	}
}*/
@media only screen and (max-width: 1090px) {
	.barra-active {
		width: 75%;
	}
}
.img-medifree{
	max-width: 145px;
	@media (max-width: 1090px) {
		max-width: 290px;
	}
}
.img-barra{
	width: 25px;
	@media (max-width: 1090px) {
		height: 65px;
		width: auto;
	}
}
.img-flecha{
	width: auto;
	transition: all 0.5s ease-out;
	@media (max-width: 1090px) {
		width: 50px;
	}
}
.burger-btn{
	width: auto;
	@media (max-width: 1090px) {
		font-size: 60px;
	}
}
